.filter-form {
    width: 60vw;
    background-color: #F1F1F1;
    border-radius: 4px;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: small;
}

section[id^="filter-section"] {
    margin-bottom: 10px;
    display: flex;
}

.filter-label-input-pair {
    display: flex;
    align-items: center;
}

label[htmlFor="filter"] {
    margin-right: 5px;
}

input[id^="filter"] {
    margin-right: 10px;
}