header {
    padding-bottom: 10px;
    border-bottom: 1px solid #111;
}

nav {
    display: flex;
    font-family: 'Roboto', sans-serif;
}

.navbar-navlink {
    margin-right: 10px;
    text-decoration: none;
}

.navbar-navlink:visited {
    color: #111;
}

.active {
    color: #FFACAC !important;
}