@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Yanone+Kaffeesatz&display=swap');

* {
    box-sizing: border-box;
}

main {
    padding: 10px;
}

h1, h2 {
    font-family: 'Abril Fatface', cursive;
}
