.recipe-card-article {
  max-width: 18vw;
  display: flex;
  flex-direction: column;
  margin: 10px 0px 0px 0px;
}

.recipe-card-article > p {
    font-family: 'Abril Fatface', cursive;
    font-size: large;
    margin: 2px 0px 2px 0px;
}

.recipe-card-div {
  display: flex;
}

.recipe-card-info {
  width: 60%;
}

.recipe-card-info > p {
  margin: 2px 0px 3px 0px;
  font-family: "Roboto", sans-serif;
  font-size: small;
}

.recipe-card-nation-flag {
  width: 40%;
}

.recipe-card-nation-flag > img {
  max-width: 100%;
}
